### Numbers

In [1]:
hex(12)

'0xc'

In [2]:
hex(512)

'0x200'

In [3]:
bin(128)

'0b10000000'

In [4]:
bin(512)

'0b1000000000'

In [5]:
2 ** 4

16

In [6]:
pow(2, 4)

16

In [7]:
pow(2,4,8) # 2 ** 4 % 8

0

In [8]:
abs(-19)

19

In [9]:
round(3.8)

4

In [10]:
round(3.1)

3

In [11]:
round(3.1415926, 2)

3.14

### Strings

In [32]:
s = "hello world"

In [33]:
s.capitalize()

'Hello world'

In [34]:
s.title()

'Hello World'

In [15]:
s.upper()

'HELLO WORLD'

In [16]:
s.count("o") # number of occurance

2

In [17]:
s.find("o") # index

4

In [21]:
s.center(20, "=") # center hello world between = in length of 20

'====Hello World====='

In [23]:
print("hello\thi")

hello	hi

In [24]:
"hello\thi".expandtabs()

'hello   hi'

In [35]:
s = "hello"

In [36]:
s.isalnum() # is all characters alpha numeric

True

In [37]:
s.isalpha() # is all characters alphabetical

True

In [38]:
s.islower()

True

In [39]:
s.isspace() # if all characters are white space

False

In [40]:
s.istitle()

False

In [41]:
s.endswith("o") # s[-1] == "o"

True

In [47]:
s.split("e")

['h', 'llo']

In [49]:
s.partition("e") # head target tail format by the first occurence of the target

('h', 'e', 'llo')

### Set

In [50]:
myset = set()

In [51]:
myset.add(1)

In [52]:
myset.add(2)

In [53]:
myset.add(2) # not work, set elements have to be unique

In [54]:
myset

{1, 2}

In [58]:
s1 = {1,2,3}

In [59]:
s2 = s1.copy()
s2

{1, 2, 3}

In [60]:
s1.add(4) # won't touch on the original set

In [61]:
s2

{1, 2, 3}

In [62]:
s1.difference(s2) # get the different in a set

{4}

In [64]:
s1 = {1,2,3}
s2 = {1,4,5}

In [66]:
s1.difference_update(s2)
s1

{2, 3}

In [67]:
s = {1,2,3,4}

In [69]:
s.discard(3)
s

{1, 2, 4}

In [71]:
s.discard(1000) # won't raise error if the element was not found
s

{1, 2, 4}

In [75]:
s1 = {1,2,3}
s2 = {1,2,4}

In [76]:
s1.intersection(s2)

{1, 2}

In [77]:
s2.intersection(s1)

{1, 2}

In [78]:
s1.intersection_update(s2)
s1 # set s1 to the intersection of the old s1 and s2

{1, 2}

In [79]:
s1 = {1,2}
s2 = {1,2,4}
s3 = {5}

In [82]:
s1.isdisjoint(s2) # returns true if s1 and s2 has anything in common

False

In [83]:
s1.isdisjoint(s3)

True

In [84]:
s1.issubset(s2) # all the elements in s1 were covered in s2

True

In [86]:
s2.issuperset(s1) # inversed of the above

True

In [87]:
s1 = {1,2,3}
s2 = {1,4,5}

In [88]:
s1.union(s2)

{1, 2, 3, 4, 5}

In [89]:
s1.update(s2)

In [90]:
s1

{1, 2, 3, 4, 5}

### Dictionary

In [91]:
d = {"k1": 1, "k2": 2}

In [92]:
{x:x**2 for x in range(10)} # {key:value for ...} dictionary comprehension

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

{k:v**2 for k,v in zip(["a", "b", "c", "d"], range(10))}

In [98]:
list(zip(["a", "b", "c", "d"], range(10)))

[('a', 0), ('b', 1), ('c', 2), ('d', 3)]

In [100]:
for k, v in d.items():
    print(k, v)

k1 1
k2 2

In [105]:
for k in d.keys():
    print(k)

k1
k2

In [106]:
for v in d.values():
    print(v)

1
2

### List

In [107]:
l = [1,2,3]

In [110]:
l.append(4)
l

[1, 2, 3, 4, 4]

In [111]:
l.count(1)

1

In [116]:
x = [1,2,3]

In [117]:
x.append([4,5])
print(x)

[1, 2, 3, [4, 5]]

In [118]:
x.extend([4,5])
print(x)

[1, 2, 3, [4, 5], 4, 5]

In [119]:
l = [1,2,3,4]

In [120]:
l.index(2)

1

In [121]:
l.index(100) # will raise error!!!

ValueError: 100 is not in list

In [125]:
l = [1,2,3,4]

In [126]:
l.insert(2, "Inserted")
l

[1, 2, 'Inserted', 3, 4]

In [127]:
l = [1,2,3,4]
el = l.pop(2)
l

[1, 2, 4]

In [132]:
l = [1,2,3,4,1]

In [133]:
l.remove(1) # remove the first occurence of the element
l

[2, 3, 4, 1]

In [134]:
l.reverse()
l

[1, 4, 3, 2]

In [136]:
l.sort()
l

[1, 2, 3, 4]