### range

In [1]:
mylist = [1,2,3,4]

In [2]:
for num in range(0, 5): #(starting, ending, stepsize)
    print(num)

0
1
2
3
4

In [3]:
range(5)

range(0, 5)

In [4]:
list(range(5))

[0, 1, 2, 3, 4]

### enumerate

In [5]:
index_count = 0
for letter in "abcde":
    print(f"At index {index_count}, the letter is {letter}")
    index_count += 1

At index 0, the letter is a
At index 1, the letter is b
At index 2, the letter is c
At index 3, the letter is d
At index 4, the letter is e

In [8]:
word = "abcde"
for (idx, letter) in enumerate(word): # after enumerate, it generate (0, "a") for each letter
    print(f"{idx}:: {letter}")

0:: a
1:: b
2:: c
3:: d
4:: e

### Zip

In [10]:
mylist1=[1,2,3]
mylist2=["a","b","c"]
mylist3=["foo", "bar", "baz"]
# mylist3=["foo", "bar"] if use this, the result will only be 2 tuplesï¼Œ it fits the shortest list
for item in zip(mylist1, mylist2, mylist3):
    print(item)

(1, 'a', 'foo')
(2, 'b', 'bar')
(3, 'c', 'baz')

### In

In [12]:
3 in [1,3,4] # in works on iterable datatypes

True

In [13]:
letter = "w"
letter in "hello world"

True

In [18]:
key = "foo"
mydictionary = {"foo": "aaa"}
key in mydictionary

True

In [19]:
"ddd" in mydictionary.values()

False

### Math

In [20]:
mynum = [1, 20, 999]
min(mynum)

1

In [21]:
max(mynum)

999

In [24]:
from random import shuffle # import shuffle from random
mylist = [1,2,3,4,5,6]
shuffle(mylist) # shuffle the list, it mutate the original list
mylist

[4, 6, 3, 5, 1, 2]

In [26]:
from random import randint # import randint from random
randint(1, 20) # generates a random integer between 1 to 20

17

### input

In [29]:
num = input("give me a number") # num is a string!!!
print(f"number you typed is {num}, {type(num)}")

give me a number5
number you typed is 5, <class 'str'>

In [30]:
int(num) # cast

5

In [32]:
float(num) # cast

5.0

### list comprehensions in Python

In [34]:
mystr = "hello"
mylist = []
for l in mystr:
    mylist.append(l)
mylist

['h', 'e', 'l', 'l', 'o']

In [36]:
mystr = "hello"
mylist = [letter for letter in mystr]
mylist

['h', 'e', 'l', 'l', 'o']

In [39]:
mylist2 = [x for x in [1,2,3,4]] # copy a list to another list
mylist2

[1, 2, 3, 4]

In [41]:
mylist3 = [x for x in range(5,20,2)]
mylist3

[5, 7, 9, 11, 13, 15, 17, 19]

In [42]:
mylist4 = [x**2 for x in range(1,5)]
mylist4

[1, 4, 9, 16]

In [44]:
mylist5 = [x**2 for x in range(1,5) if x%2==0]
mylist5

[4, 16]

In [46]:
celius = [5, 10, 25, 43]
fahrenheit = [(9/5*temp+32) for temp in celius]
fahrenheit

[41.0, 50.0, 77.0, 109.4]

In [47]:
results = [x if x%2==0 else "ODD" for x in range(1, 15)] # not very readable...
results

['ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10, 'ODD', 12, 'ODD', 14]

In [49]:
mylist = []
for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)
print(mylist)

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [52]:
mylist2=[x*y for x in [2,4,6] for y in [100,200,300]] # not very readble...
mylist2

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]