### List

In [1]:
my_list=[1,2,3]
my_list2=["foo",2,"bar"]

In [4]:
len(my_list2)

3

In [5]:
my_list[0]

1

In [6]:
my_list[0:2] # just like string

[1, 2]

In [18]:
my_list3 = my_list + my_list2
my_list3

[1, 2, 3, 'foo', 2, 'bar']

In [10]:
my_list3[0] = "Hello world"
my_list3 # list elements are mutable

['Hello world', 2, 3, 'foo', 2, 'bar']

In [15]:
my_list3.append("hi")
my_list3

[1, 2, 3, 'foo', 2, 'bar', 'hi']

In [19]:
pop_item=my_list3.pop() # default remove index -1
pop_item

'bar'

In [20]:
my_list3.pop(0) # you can specify the index
my_list3

[2, 3, 'foo', 2]

In [28]:
my_list=["d", "r", "a", "c"]
mynums=[3,2,1,4]

In [29]:
my_list.sort()
my_list

['a', 'c', 'd', 'r']

In [31]:
type(None)
mynums.sort()
mynums

[1, 2, 3, 4]

In [32]:
my_list=["d", "r", "a", "c"]
my_list.reverse()
my_list

['c', 'a', 'r', 'd']

### Dictionary

In [43]:
myobj1 = {"name": "foo", "age": 100, "hobbies": ["play", "sleep", "eat"]}
myobj1["hobbies"][0]

'play'

In [44]:
myobj2 = {"name": "Foo", "age": 222}
myobj2.keys()

dict_keys(['name', 'age'])

In [45]:
myobj2.values()

dict_values(['Foo', 222])

In [46]:
myobj2.items()

dict_items([('name', 'Foo'), ('age', 222)])

### Tuples - immutable!!!

In [47]:
tup1 = (1, 2, 3)
list1 = [1, 2, 3]

In [48]:
type(tup1)

tuple

In [49]:
len(tup1)

3

In [50]:
tup2 = ("foo", 1)

In [51]:
tup1[2]

3

In [53]:
tup3 = ("a", "a", "b")
tup3.count("a")

2

In [55]:
tup3.index("b")

2

In [57]:
# tup3[2]="bar" will give errors because tuples are immutable objects

### Sets - unique values

In [58]:
myset = set()

In [60]:
myset.add(1)
myset

{1}

In [61]:
myset.add(2)
myset

{1, 2}

In [62]:
myset.add(2)
myset

{1, 2}

In [63]:
mylist = [1, 2, 2, 3, 3, 4]

In [64]:
set(mylist) # cast list to set - remove duplicates

{1, 2, 3, 4}

### Booleans

In [65]:
mybool = True

In [66]:
mybool2 = False

In [67]:
type(mybool)

bool

In [68]:
mybool = 3 > 1

True